body{
    margin: 0; 
    font-family: poppins;
}
h1{
    font-family: 'Inter', sans-serif;  
    font-size: 65px;
    color: white;
    margin: 0px;
    padding: 0px 150px 0px 150px;
    text-align: center;
}
p{
    font-weight: 400px; 
}
#top-banner-paragraph{
    color: #ffff; 
}
a{
    text-align: center;
    text-decoration: none;
    background-color: #ff5959;
    border-radius: 10%;
    color: #ffff; 
    padding: 10px;
     
    
}
.top-banner{
    
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/donation13.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: black;
    padding: 2%;
    text-align: center;

}
#footer-heading{
    color:#ff5959;
    font-family: Lobster;
}
#footer-paragraph{
    color: #D9DBE1;
}
